@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Rounded Pro";
  src: url(/SFRounded-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Rounded Pro";
  src: url(/SFRounded-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.room {
  font-family: "SF Rounded Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.room-head {
  border-radius: 99999px;
  box-shadow: 0 0 0 0.25rem var(--roomBackground);
}

.room-head > * {
  overflow: visible !important;
}

@layer utilities {
  .text-title1 {
    font-size: 1.75rem;
    line-height: 2.0625rem;
    letter-spacing: 0.0225rem;
  }

  .text-title2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.021875rem;
  }

  .text-title3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.02375rem;
  }

  .text-body {
    font-size: 1.0625rem;
    line-height: 1.375rem;
  }

  .text-footnote {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }

  .primary {
    @apply text-black;
  }

  .secondary {
    @apply text-label-light text-opacity-secondary dark:text-label-dark dark:text-opacity-secondary;
  }

  .tertiary {
    @apply text-label-light text-opacity-tertiary dark:text-label-dark dark:text-opacity-tertiary;
  }
}
